
/* #3498db */

body {
  /* font-family: Arial, sans-serif; */
  background-color: #f2f2f2;
  min-height: 100vh;
  /* margin: 0; */
  /* padding: 0; */
}

.moviesearch {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
}

.title {
  text-align: center;
  margin-bottom: 20px;


}
.title a {
  text-decoration: none;
}

.title h1 {
  color: #775801fd;
  font-size: 28px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 70%;
}

.search button {
  padding: 10px 20px;
  background-color: #775801fd;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 30%;
}

.card {
  align-items: center;
  width: 50rem;
  display: flex;
  flex-direction: column;
  /* position:fixed; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: -34rem;
}

.card__img {
  flex: 1;
}

.card__img img {
  width: 20rem;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.card__desc {
  flex: 2;
  padding: 20px;
}

.card__desc p {
  margin: 0;
  color: #333;
  font-size: 16px;
}

span.item {
  /* font-weight: 700; */
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Media query for mobile and iPad screen sizes */
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .card {
    margin: 2rem;
    margin-left: 3.5rem;
    width: 21rem;
      flex-direction: column;
      margin-bottom: -34rem; /* Stack elements vertically */
  }

  .card__img {
      order: 1; /* Change the order of image */
  }

  .card__desc {
    width: 20rem;
      order: 2; /* Change the order of description */
  }
}

